.home-search {
 padding: 125px;
 background-image: url("http://www.technologybloggers.org/wp-content/uploads/2013/06/Photography.jpg");
 /* background: linear-gradient(135deg,rgba(204,0,0,.5) 0,rgba(204,0,0,.5) 100%),url(/app/img/noise-cover.png); */
 background-position: center;
 background-size: cover;

}


.home-search-text-area {
 color: #fff;
 text-align: center;
 
 
}

.home-search-text {
 font-weight: 300;



}

.home-search-input {
 background-color: rgba(255, 255, 255, 0);
 border:none;
 border-bottom: 1px solid #fff;
 color: white;
 padding: 15px;
 width: 60%;
}

.home-search-input:focus {
 outline: none;
}


